@import './base/normalize';
@import './base/reset';
@import './base/mixins';
@import './base/variables';

.wrapper {
  height: 100vh;
  @include center;
}

.button {
  width: 2rem;
  height: 2rem;
  border: $dark-color solid 2px;
  background-color: $grey-color;

  &:hover {
    background: lighten($grey-color, 10%); // 색상 10% 밝게
  }

  &:active {
    background: darken($grey-color, 10%); // 색상 10% 어둡게
  }
}