@import './base/normalize';
@import './base/reset';
@import './base/mixins';
@import './base/variables';

body, html {
  background-color: $grey-color;
}
.wrapper {
  height: 100vh;
  @include center;
}

table {
  border-spacing: 1px;
  box-shadow: 1px 1px 0px 2px darken($grey-color, 30%);
}

.cell-button {
  width: 2rem;
  height: 2rem;
  background-color: $grey-color;
  box-shadow: 1px 1px 3px 1px darken($grey-color, 50%);

  &.is-opened {
    background: darken($grey-color, 10%); 
    box-shadow: 1px 1px 3px 1px darken($grey-color, 50%) inset;
  }
}

.game-status {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  gap: 1.5rem;
}

.button {
  padding: .5rem;
}

.timer {
  background-color: #222;
  padding: .5rem;
  color: RED;
}